.header {
  width: 100%;
  position: relative;
  z-index: 10;
  color: hsla(0, 0%, 100%, .87);
}

.navbar {
  background-color: #3f51b5;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
}

.navbar button, a {
  font-size: 1.05rem;
}

.login_panel {
  border-radius: 17px;
}
