.show_more_card_content {
  cursor: pointer;
  text-align: center;
}

.show_more_card {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  margin-top: 10px;
  text-align: center;
  display: block;
  position: relative;
  border-right: 2px;
  font-size: 16px;
}

.show_more_card_button {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  min-width: 100%;
  line-height: 24px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.card-area::-webkit-scrollbar {
  display: none;
  width: 0;
}

.card-area {
  overflow: hidden;
}

