.collection {
  padding-top: 1px;
  padding-left: 0;
  padding-right: 0;
  background-color: inherit;
  box-shadow: none;
}

.header {
  padding: 0;
  height: 50px;
  width: 88%;
  margin-left: 15px;
  margin-top: 15px;
  box-shadow: 0 15px 15px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 3px 10px -5px rgba(0, 0, 0, 0.2);
}

.avatar {
  text-align: center;
  font-size: 1.6rem;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: #4caf50;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.title {
  height: 100%;
  font-size: 1.4rem;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.content p {
  font-size: 1.15rem;
  width: 87%;
  padding: 5px;
  background-color: #fff;
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 2px 15px 15px -12px rgba(0, 0, 0, 0.56), 1px 4px 20px 0px rgba(0, 0, 0, 0.12), 0 3px 10px -5px rgba(0, 0, 0, 0.2);
}

