/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

form {
  font-size: 16px;
}

h1 {
  color: inherit;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

