@keyframes glow {
  0% {
    box-shadow: 0 0 12px rgba(170, 29, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 12px rgb(170, 34, 107), 0 0 18px rgb(255, 0, 2);
  }
}

.shining-border {
  -webkit-animation: glow 1s infinite;
  -o-animation: glow 1s infinite;
  animation: glow 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
